.title{
    border: 1px solid ;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}
.info{
    border: 1px solid ;
    width: 80%;
    display: flex;
    background-color: black;
    color: aliceblue;

    
    
}
.firstdiv{
    display: flex;
    border: 1px solid;
    
}
ul{
    
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    align-items: center ;
    
}
li:hover{
    color: gold;
    font-size: 30px;

}
.copyright{
    border: 1px solid;
    height: 100px;
    background-color: black;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    
    
}
.seconddiv{
    height: 80vh;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;

}
button{
    height: 50px;
    margin: 20px;
    width: 250px;
    border-radius: 80%;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    
}
button:hover{
background-color: gold;
color: black;
}
a{
    color: antiquewhite;
    text-decoration: none;
}
a:hover{
    color: gold;
}
